# ==============================================================
# ENVIRONMENT VARIABLES - FRONTEND NEXT.JS (PC IMM KOTA SURAKARTA)
# ==============================================================

# 1. URL API Backend (Lengkap dengan /api/v1)
# - Lokal Dev: http://127.0.0.1:8010/api/v1
# - Staging:   https://api-staging.immsolo.or.id/api/v1
# - Production: https://api-web.immsolo.or.id/api/v1
NEXT_PUBLIC_API_URL=http://127.0.0.1:8010/api/v1

# 2. URL Asal Backend (Untuk rewrites & media /storage)
# - Lokal Dev: http://127.0.0.1:8010
# - Staging:   https://api-staging.immsolo.or.id
# - Production: https://api-web.immsolo.or.id
NEXT_PUBLIC_BACKEND_URL=http://127.0.0.1:8010

# 3. URL Domain Frontend Website
# - Lokal Dev: http://localhost:3000
# - Staging:   https://staging.immsolo.or.id
# - Production: https://immsolo.or.id
NEXT_PUBLIC_SITE_URL=http://localhost:3000

